.peculiarities {
    // @include section-pading(94px, 47px);
    @include section-pading(60px, 60px); 
    @include tablet {
        @include section-pading(60px, 60px);
    }
    @include desc {
        @include section-pading(94px, 47px);
    }
}

.peculiarites-list {
    margin-bottom: -30px;
    @include tablet {
        display: flex;
        flex-wrap: wrap;
        margin-right: -30px;
    }
}

.peculiarites-list__item {
    width: 100%;
    margin-bottom: 30px;

    @include tablet {
        width: calc(100% / 2 - 30px);
        margin-right: 30px;
    }
    @include desc {
        width: calc(100% / 4 - 30px);
    }
}

.peculiarites__container-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 270px;
    min-height: 120px;
    margin-bottom: 30px;
    background-color: #f5f4fa;
}

.peculiarites-list__text {
    @include font(null, 14px, 1.71, 0.03em);
    color: var(--text-gray);
}

.peculiarites-list__title {
    text-align: center;
    margin-bottom: 10px;

    // @include font(700, 14px, 1.4, 0.03em );
    @include font(700, 14px, 0.87, 0.03em);
    text-transform: uppercase;

    color: var(--text-black);

    @include tablet {
        text-align: left;
        @include font(700, 14px, 1.4, 0.03em);
    }
}
